{% extends 'base.html.twig' %}

{% block body %}
    {%- block nav %}
    <nav class="navbar navbar-expand-lg fixed-top" id="main-nav">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{{ url('homepage') }}#page-top">
                <img src="{{ asset('images/logo.png') }}" class="mr-2" width="30" />
                Merces Lab
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link slide-link" href="{{ url('homepage') }}#about" data-scroll="#about">Nous connaître</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link slide-link" href="{{ url('homepage') }}#services" data-scroll="#services">Nos services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link slide-link" href="{{ url('homepage') }}#contact" data-scroll="#contact">Nous contacter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {%- endblock nav %}
    {%- block content %}{% endblock content %}
{% endblock %}
